<!-- Inherits from main.html -->
{% extends 'main.html' %}

<!-- All the content from our child template we want to be served in the parent, must sit within this block -->
{% block content %} 

    <section>
      <div class="body">
        <hr>
        <br>
        <h1>This is the homepage!</h1>
        <hr>
        <br>
        <br>
        <br>
        <hr>
        <h1><b>{{instance_id}}</b></h1>
        <hr>
        <br>
        <br>
        <br>
      </div>
    </section>

{% endblock %}